# Add configuration values here, as shown below.

devise_secret_key: <Your long devise secret key>
secret_token: <Rails 4 needs a secret token>

# You can define many Probes with a json formatted string
# Here is an example with one probe running on localhost
probes: '[{ "name": "mylocalhost", "host":"localhost", "port":3333, "token": "my probe token" }]'

# You can add a google analytics key if you want user tracking
#GOOGLE_ANALYTICS_KEY: "UA-something"
